:root{
    --blue: #4d96ff;
    --black: #020508;
    --light: #DCEAFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border: none;
    outline: none;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f9fcff;
    
}

section{
    display: block;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}

.head .header h1{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    color: var(--black);
    letter-spacing: auto;
    
}

.head .num{
    text-align: center;
    font-size: 60px;
    padding: 30px;
    color: var(--black);
}


button{
    border-radius: 6px;
    font-size: 17px;
}

#remove, #add{
    background-color: var(--blue);
    border: none;
    width: 49%;
    height: 45px;
    color: white;
    gap: 10px;
}

#save{
    border: 1px solid var(--blue);
    width: 100%;
    height: 45px;
    color: var(--blue);
    background-color: #072034;
    margin: 15px 0px 30px 0px;
}

.reset{
    border-top: solid 1px rgb(202, 199, 214);
}

#reset{
    width: 100%;
    height: 45px;
    background-color: #ffebf3;
    color: #ff005b;
    margin: 15px 0px;
    border: 1px solid #ff005b;
}

#deleteAll{
    width: 100%;
    height: 45px;
    background-color: #ff005b;
    color: white;
    margin: 30px 0px;
}

#myDiv{
    display: flex;
    flex-direction: column;
}

#myDiv div{
    /* background: #eff5ff; */
    background: var(--blue);
    border-radius: 20px;
    width: 100%;
    padding: 30px;
    margin: 15px 0px;
    color: white;
}

#myDiv div h1{
    font-size: 40px;
    padding: 0px 0px;
}

#myDiv div p{
    color: rgb(244, 245, 255);
    font-family: monospace;
    font-size: 15px;
    padding-top: 5px;
}






@media (max-width:425px) {
    section{
        width: 80%;
    }
}